#app {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.swiper-slide {

  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* o'ng strelka */
.swiper-button-next {
  color: white; /* rangini oq qilamiz */
  right: 10px;  /* ekrandagi joylashuvi */
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.3); /* fon */
  border-radius: 50%; /* doira */
}

/* chap strelka */
.swiper-button-prev {
  color: white;
  left: 10px;
  width: 40px;
  
  height: 40px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
}

/* icon kattaligi */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px; 

}

